#centerContainer {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

#scrollerContainer {
	display: block;
	overflow-x: auto;
	margin: 0 20px 0 20px;
	padding: 20px;
}

.characterTable {
	border-collapse: collapse;
  border-spacing: 0;
	max-width: 720px;
}

.characterTable tr, th, td {
	min-height: 30px;
}

.characterTable td {
	padding: 8px;
	cursor: pointer;
}

.characterTable tr {
	cursor: pointer;
	border-top: 1px solid var(--gray-color);
}

.characterTable tr:hover {
	background-color: var(--gray-color);
}

.characterTable thead {
	height: 40px;
	background-color: var(--gray-color);
}